body {
	font-family: 'Quicksand', sans-serif;
}

header {
	background-color: #fff;
	position: fixed;
	height: 75px;
	-webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px -1px rgba(0,0,0,0.5);
	width: 100%;
	z-index: 1;
}

header::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -1.2em;
  bottom: -1.96em;
  left: 50%;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  -webkit-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

nav {
	position: absolute;
	top: 42%;
	left: 30px;
	right: 0;
	text-align: center;
	font-size: 1.2em;
}

nav a {
	padding: 0 80px 0 20px;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: #337ab7;
}

.header {
	background-image: url('../assets/background-image-min.jpg');
	background-size: 110%;
	background-position: 30% 60%;
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;
	width: 100%;
	padding-top: 700px;
}

.header h1 {
	position: absolute;
	top: 205px;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-size: 4em;
	font-weight: 400;
}

/*.header h3 {
	position: absolute;
	top: 320px;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-size: 2em;
	font-family: 'Georgia', serif;
	font-weight: 300;
	font-style: italic;
}*/

.content {
	color: #444;
	width: 90%;
	padding-top: 30px;
	z-index: -1;
}

.content h1 {
	font-size: 3.6em;
	text-decoration: underline;
	line-height: 2.8em;
}

.content p {
	font-family: 'Georgia', serif;
	font-size: 1.6em;
	line-height: 1.6em;
	margin-bottom: 20px;
}

.me {
	margin-top: 20px;
}

.my-face {
	float: right;
	margin-top: 55px;
	position: relative;
	text-align: center;
}

.my-face p {
	margin-bottom: 4px;
}

.my-face img {
	width: 280px;
	height: 290px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}

.contact label {
	padding-bottom: 10px;
}

.footer {
	height: 80px;
	/*display: inline-block;*/
}

.footer small, i {
	line-height: 28px;
}

.footer hr {
	margin-bottom: 14px;
}

.social-icons {
	text-align: right;
}

.social-icons i{
	vertical-align: middle;
}

.social-icons i:first-of-type {
	padding-right: 5%;
}

/*Tablet*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	nav a {
		padding: 0 70px 0 10px;
	}

	.header {
		background-size: 150%;
		background-position: 47% 37%;
		padding-top: 550px;
	}

	.my-face {
		margin-top: 20px;
	}

}

@media only screen and (min-device-width : 300px) and (max-device-width : 768px) {

	header {
		background-color: #fff;
		position: fixed;
		margin-top: 0;
		height: 50px;
		-webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.5);
		width: 100%;
	}

	header:after {
		display: none;
	}

	nav {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 0.8em;
	}

	nav a {
		padding: 10px;
	}

	.header {
		background-size: 150%;
		background-position: 46% 50%;
		padding-top: 300px;
	}

	.header h1 {
		font-size: 2em;
		top: 100px;
	}

	.header h3 {
		font-size: 1.2em;
		top: 160px;
	}

	.mobile-menu {
		position: absolute;
		top: 0;
		height: 50px;
		width: 100%
	}

	.mobile-menu h4 {
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		text-align: center;
		color: #fff;
		font-size: 1em;
		font-weight: 400;
	}

	.my-face {
		margin-top: 0;
		margin-bottom: 15px;
	}

	.my-face img {
		width: 200px;
		height: 210px;
	}

	.footer small {
		font-size: 15px;
	}

/*	.social-icons i:first-of-type {
		padding-right: 1%;
	}*/

}